<div class="container-fluid">
  <app-page-title title="Liste des Sociétés"
    [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body border-bottom">
          <div class="d-flex align-items-center">
            <h5 class="mb-0 card-title flex-grow-1">Liste des Sociétés</h5>
            <div class="flex-shrink-0 d-flex gap-2">
              <a href="javascript:void(0);" class="btn btn-primary"
              (click)="openModalAdd(societeModal)"> Ajouter une Société</a>
              <a href="javascript:void(0);" class="btn btn-light"><i
                  class="mdi mdi-refresh"></i></a>
              <div class="dropdown d-inline-block" dropdown>
                <button type="menu" class="btn btn-success"
                  id="*dropdownMenuButton1" data-bs-toggle="dropdown"
                  aria-expanded="false" dropdownToggle><i
                    class="mdi mdi-dots-vertical"></i></button>
                <ul class="dropdown-menu dropdown-menu dropdown-menu-end show"
                  aria-labelledby="*dropdownMenuButton1" *dropdownMenu>
                  <li><a class="dropdown-item"
                      href="javascript:void(0);">Action</a></li>
                  <li><a class="dropdown-item"
                      href="javascript:void(0);">Another action</a></li>
                  <li><a class="dropdown-item"
                      href="javascript:void(0);">Something else here</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body border-bottom">
          <div class="row g-3">
            <div class="col-lg-4">
              <input type="search" class="form-control" id="searchInput"
                placeholder="Rechercher une societe..."
                [(ngModel)]="searchTerm" (ngModelChange)="filterSociete()">
            </div>
          </div>
        </div>

        <div class="card-body">

          <div class="table-responsive">
            <div *ngIf="loading$ | async" class="text-center text-primary">
              <p><i class="mdi mdi-loading mdi-spin"></i> Chargement en
                cours...</p>
            </div>

            <div *ngIf="error$ | async as errorMsg" class="alert alert-danger">
              <i class="mdi mdi-alert-circle"></i> {{ errorMsg }}
            </div>

            <table *ngIf="filteredSocieteList.length > 0"
              class="table table-striped table-hover align-middle">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>contact</th>
                  <th>Email</th>
                  <th>Responsable</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let societe of paginatedSocieteList; trackBy: trackById">
                  <td>{{ societe.nom }}</td>
                  <td>{{ societe.contact }}</td>
                  <td>{{ societe.email }}</td>
                  <td>{{ societe.responsable }}</td>
                  
                  <td>
                    <ul class="list-unstyled hstack gap-1 mb-0">
                      <li data-bs-toggle="tooltip" data-bs-placement="top"
                        title="View">
                        <button class="btn btn-sm btn-soft-primary"
                          (click)="openDetailsSociete(societe, detailsSocieteModal)">
                          <i class="mdi mdi-eye"></i>
                        </button>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Edit">
                        <button class="btn btn-sm btn-soft-info"
                        (click)="openModalEdit(societe, societeModal)">
                          <i class="mdi mdi-pencil-outline"></i>
                        </button>
                      </li>
                      <li data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Delete">
                        <button class="btn btn-sm btn-soft-danger"
                          (click)="onDeleteSociete(societe.societeId)">
                          <i class="mdi mdi-delete-outline"></i>
                        </button>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>

            <div
              *ngIf="paginatedSocieteList.length === 0 && !(loading$ | async)"
              class="text-center text-muted">
              <p>Aucune Societe trouvée.</p>
            </div>
            
            <div class="row justify-content-between align-items-center mt-3"
              *ngIf="filteredSocieteList?.length > 0">
              <div class="col-auto me-auto">
                <p class="text-muted mb-0">Affichage de <b>{{
                    paginatedSocieteList.length }}</b> sur <b>{{
                    filteredSocieteList.length }}</b> societes</p>
              </div>
              <div class="col-auto">
                <ul
                  class="pagination pagination-rounded justify-content-end mb-2">
                  <pagination [totalItems]="filteredSocieteList.length"
                    [itemsPerPage]="itemsPerPage"
                    (pageChanged)="pageChanged($event)"></pagination>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

<ng-template #societeModal>
  <div class="modal-header">
      <h5 class="modal-title">{{ societeForm.value.societeId ? 'Modifier une Société' : 'Ajouter une Société' }}</h5>
      <button type="button" class="btn-close" (click)="modalRef?.hide()"></button>
  </div>
  <form (ngSubmit)="saveSociete()" [formGroup]="societeForm">
      <div class="modal-body">
          <div class="mb-3">
              <label class="form-label">Nom</label>
              <input type="text" class="form-control" formControlName="nom" placeholder="Nom de la société">
              <div *ngIf="societeForm.controls['nom'].invalid && societeForm.controls['nom'].touched" class="text-danger">
                  Le nom est obligatoire et doit contenir au moins 2 caractères.
              </div>
          </div>

          <div class="mb-3">
              <label class="form-label">Adresse</label>
              <input type="text" class="form-control" formControlName="adresse" placeholder="Adresse de la société">
              <div *ngIf="societeForm.controls['adresse'].invalid && societeForm.controls['adresse'].touched" class="text-danger">
                  L'adresse est obligatoire.
              </div>
          </div>

          <div class="mb-3">
              <label class="form-label">Contact</label>
              <input type="text" class="form-control" formControlName="contact" placeholder="Nom du contact">
              <div *ngIf="societeForm.controls['contact'].invalid && societeForm.controls['contact'].touched" class="text-danger">
                  Le contact est obligatoire.
              </div>
          </div>

          <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" formControlName="email" placeholder="Email de la société">
              <div *ngIf="societeForm.controls['email'].invalid && societeForm.controls['email'].touched" class="text-danger">
                  Entrez un email valide.
              </div>
          </div>

          <div class="mb-3">
              <label class="form-label">Numéro SIRET</label>
              <input type="text" class="form-control" formControlName="numSiret" placeholder="SIRET">
              <div *ngIf="societeForm.controls['numSiret'].invalid && societeForm.controls['numSiret'].touched" class="text-danger">
                  <span *ngIf="societeForm.controls['numSiret'].errors?.['required']">Le numéro SIRET est obligatoire.</span>
              </div>
          </div>

          <div class="mb-3">
              <label class="form-label">Numéro TVA</label>
              <input type="text" class="form-control" formControlName="numTva" placeholder="Numéro TVA">
              <div *ngIf="societeForm.controls['numTva'].invalid && societeForm.controls['numTva'].touched" class="text-danger">
                  <span *ngIf="societeForm.controls['numTva'].errors?.['required']">Le numéro TVA est obligatoire.</span>
              </div>
          </div>

          <div class="mb-3">
              <label class="form-label">Téléphone</label>
              <input type="text" class="form-control" formControlName="telephone" placeholder="Numéro de téléphone">
              <div *ngIf="societeForm.controls['telephone'].invalid && societeForm.controls['telephone'].touched" class="text-danger">
                  Le téléphone doit contenir uniquement des chiffres.
              </div>
          </div>

          <div class="mb-3">
              <label class="form-label">Seuil Tresorerie</label>
              <input type="number" class="form-control" formControlName="seuilTresorerie" placeholder="Seuil Tresorerie">
              <div *ngIf="societeForm.controls['seuilTresorerie'].invalid && societeForm.controls['seuilTresorerie'].touched" class="text-danger">
                  Le seuil de la tresorerie coût doit être un nombre positif.
              </div>
          </div>

          <div class="mb-3">
              <label class="form-label">Responsable</label>
              <input type="text" class="form-control" formControlName="responsable" placeholder="Nom du responsable">
              <div *ngIf="societeForm.controls['responsable'].invalid && societeForm.controls['responsable'].touched" class="text-danger">
                  Le nom du responsable est obligatoire.
              </div>
          </div>
      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modalRef?.hide()">Annuler</button>
          <button type="submit" class="btn btn-success" [disabled]="societeForm.invalid">
              {{ societeForm.value.societeId ? 'Mettre à Jour' : 'Ajouter' }}
          </button>
      </div>
  </form>
</ng-template>


    <ng-template #detailsSocieteModal>
      <div class="modal-header">
        <h5 class="modal-title"><i class="bi bi-buildings text-primary me-2"></i> Détails de la Société</h5>
        <button type="button" class="btn-close" (click)="modalRef?.hide()"></button>
      </div>
    
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row"><i class="bi bi-building text-primary"></i> Nom :</th>
                <td>{{ selectedSociete?.nom }}</td>
              </tr>
              <tr>
                <th scope="row"><i class="bi bi-geo-alt text-danger"></i> Adresse :</th>
                <td>{{ selectedSociete?.adresse }}</td>
              </tr>
              <tr>
                <th scope="row"><i class="bi bi-person-circle text-info"></i> Contact :</th>
                <td>{{ selectedSociete?.contact }}</td>
              </tr>
              <tr>
                <th scope="row"><i class="bi bi-envelope text-warning"></i> Email :</th>
                <td>{{ selectedSociete?.email }}</td>
              </tr>
              <tr>
                <th scope="row"><i class="bi bi-file-earmark-text text-success"></i> Numéro SIRET :</th>
                <td>{{ selectedSociete?.numSiret }}</td>
              </tr>
              <tr>
                <th scope="row"><i class="bi bi-cash-stack text-dark"></i> Numéro TVA :</th>
                <td>{{ selectedSociete?.numTva }}</td>
              </tr>
              <tr>
                <th scope="row"><i class="bi bi-telephone text-primary"></i> Téléphone :</th>
                <td>{{ selectedSociete?.telephone }}</td>
              </tr>
              <tr>
                <th scope="row"><i class="bi bi-person-badge text-success"></i> Responsable :</th>
                <td>{{ selectedSociete?.responsable }}</td>
              </tr>
              <tr>
                <th scope="row"><i class="bi bi-calendar-check text-secondary"></i> Seuil de la tresorerie :</th>
                <td>{{ selectedSociete?.seuilTresorerie }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modalRef?.hide()">Fermer</button>
      </div>
    </ng-template>
    

  </div>
