.badge {
    font-size: 0.8rem;  // Increase font size
    padding: 8px 13px;  // Increase padding
    border-radius: 8px;  // Optional: rounder corners for better appearance
    text-transform: capitalize;
  }
  
  .bg-success,
  .bg-danger {
    font-size: 0.8rem;  // Increase font size
    padding: 8px 13px;
    border-radius: 8px;
  }
  