<div class="container-fluid">
    <app-page-title title="Liste des Factures"
        [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body border-bottom">
                    <div class="d-flex align-items-center">
                        <h5 class="mb-0 card-title flex-grow-1">Liste des
                            Factures</h5>
                        <div class="flex-shrink-0 d-flex gap-2">
                            <a href="javascript:void(0);"
                                class="btn btn-primary"
                                (click)="openModalAdd(factureModal)"> Ajouter
                                une Facture</a>
                            <a href="javascript:void(0);" class="btn btn-light"
                                (click)="refreshList()"><i
                                    class="mdi mdi-refresh"></i></a>
                            <div class="dropdown d-inline-block" dropdown>
                                <button type="menu" class="btn btn-success"
                                    id="*dropdownMenuButton1"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false" dropdownToggle><i
                                        class="mdi mdi-dots-vertical"></i></button>
                                <ul
                                    class="dropdown-menu dropdown-menu dropdown-menu-end show"
                                    aria-labelledby="*dropdownMenuButton1"
                                    *dropdownMenu>
                                    <li><a class="dropdown-item"
                                            href="javascript:void(0);">Action</a></li>
                                    <li><a class="dropdown-item"
                                            href="javascript:void(0);">Another
                                            action</a></li>
                                    <li><a class="dropdown-item"
                                            href="javascript:void(0);">Something
                                            else here</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 🔍 Recherche & Filtres -->
                <div class="card-body border-bottom">
                    <div class="row g-3">
                        <div class="col-lg-4">
                            <input type="search" class="form-control"
                                placeholder="Rechercher une facture..."
                                [(ngModel)]="searchTerm"
                                (ngModelChange)="filterFactures()">
                        </div>
                        <div class="col-lg-3">
                            <select class="form-select"
                                [(ngModel)]="selectedStatutPaiement"
                                (change)="filterFactures()">
                                <option value>Sélectionner un Statut de
                                    paiement</option>
                                <option
                                    *ngFor="let statut of statutPaiementOptions"
                                    [value]="statut">
                                    {{ statut }}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <select class="form-select"
                                [(ngModel)]="selectedTypeFacture"
                                (change)="filterFactures()">
                                <option value>Sélectionner un Type
                                    Facture</option>
                                <option *ngFor="let type of typeFactureOptions"
                                    [value]="type">
                                    {{ type }}
                                </option>
                            </select>
                        </div>
                        <div class="col-xxl-2 col-lg-4">
                            <button type="button"
                                class="btn btn-soft-secondary w-100"><i
                                    class="mdi mdi-filter-outline align-middle"></i>
                                Filter</button>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <!-- ⏳ Affichage du chargement -->
                        <div *ngIf="loading$ | async"
                            class="text-center text-primary">
                            <p><i class="mdi mdi-loading mdi-spin"></i>
                                Chargement en
                                cours...</p>
                        </div>

                        <!-- ❌ Affichage des erreurs -->
                        <div *ngIf="error$ | async as errorMsg"
                            class="alert alert-danger">
                            <i class="mdi mdi-alert-circle"></i> {{ errorMsg }}
                        </div>

                        <!-- 📊 Tableau -->
                        <table *ngIf="paginatedFactureList.length > 0"
                            class="table table-striped table-hover align-middle">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Désignation</th>
                                    <th>Référence</th>
                                    <th>Montant TTC</th>
                                    <th>Date Emission</th>
                                    <th>Type Facture</th>
                                    <th>Type Paiement</th>
                                    <th>Statut Paiement</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let facture of paginatedFactureList; trackBy: trackById">
                                    <th>{{ facture.factureId }}</th>
                                    <td>{{ facture.designation }}</td>
                                    <td>{{ facture.refFacture }}</td>
                                    <td>{{ facture.montantTtc }}</td>
                                    <td>{{ facture.dateEmmission |
                                        date:'dd/MM/yyyy' }}</td>

                                    <td><span class="badge"
                                            [ngClass]="{
                          'badge-soft-primary': facture.typeFacture === 'ACHAT',
                          'badge-soft-secondary': facture.typeFacture === 'SOUSTRAITANT'
                        }">
                                            {{ facture.typeFacture }}
                                        </span></td>
                                    <td> <span class="badge"
                                            [ngClass]="{
                                          'badge-soft-warning': facture.typePaiement === 'ESPECES',
                                          'badge-soft-info': facture.typePaiement === 'VIREMENT_BANCAIRE',
                                          'badge-soft-dark': facture.typePaiement === 'CHEQUE'
                                        }">
                                            {{ facture.typePaiement }}
                                        </span>
                                    </td>

                                    <td>
                                        <span class="badge"
                                            [ngClass]="{
                                              'badge-soft-success': facture.statutPaiement === 'PAYÉE',  
                                              'badge-soft-danger': facture.statutPaiement === 'NON_PAYÉE'
                                            }">
                                            {{ facture.statutPaiement }}
                                        </span>
                                    </td>

                                    <td>
                                        <ul
                                            class="list-unstyled hstack gap-1 mb-0">
                                            <li data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                title="View">
                                                <button
                                                    class="btn btn-soft-info btn-sm"
                                                    (click)="openDetailsModal(facture, detailsFactureModal)">
                                                    <i class="mdi mdi-eye"></i>
                                                </button>
                                            </li>
                                            <li data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                title="Edit">
                                                <button
                                                    *ngIf="facture.statutPaiement === 'NON_PAYÉE'"
                                                    class="btn btn-sm btn-soft-info"
                                                    (click)="openModalEdit(facture, factureModal)">
                                                    <i
                                                        class="mdi mdi-pencil-outline"></i>
                                                </button>
                                            </li>
                                            <li data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                title="Delete">
                                                <button
                                                    *ngIf="facture.statutPaiement === 'NON_PAYÉE'"
                                                    class="btn btn-sm btn-soft-danger"
                                                    (click)="onDeleteFacture(facture.factureId)"
                                                    [disabled]="facture.statutPaiement === 'PAYÉE'">
                                                    <i
                                                        class="mdi mdi-delete-outline"></i>
                                                </button>
                                            </li>
                                            <li data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                title="Validate">
                                                <button
                                                    *ngIf="facture.statutPaiement === 'NON_PAYÉE'"
                                                    class="btn btn-sm btn-soft-success"
                                                    (click)="validerPaiement(facture.factureId)"
                                                    [disabled]="facture.statutPaiement === 'PAYÉE'">
                                                    <i
                                                        class="mdi mdi-check-circle-outline"></i>
                                                </button>
                                            </li>
                                            <li data-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                title="ViewFacture">
                                                <button *ngIf="facture.filePath"
                                                    class="btn btn-sm btn-soft-warning"
                                                    (click)="openFacture(facture.filePath)">
                                                    <i class="bx bx-file"></i>
                                                </button></li>
                                            <li ata-bs-toggle="tooltip"
                                                data-bs-placement="top"
                                                title="Download">
                                                <button *ngIf="facture.filePath"
                                                    class="btn btn-sm btn-soft-success"
                                                    (click)="downloadFacture(facture.filePath)">
                                                    <i
                                                        class="bx bx-cloud-download"></i>
                                                </button>

                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- ❗ Aucun Résultat -->
                        <div
                            *ngIf="paginatedFactureList.length === 0 && !(loading$ | async)"
                            class="text-center text-muted">
                            <p>Aucune facture trouvée.</p>
                        </div>

                        <!-- ✅ Pagination -->
                        <div
                            class="row justify-content-between align-items-center mt-3"
                            *ngIf="filteredFactureList.length > 0">
                            <div class="col-auto me-auto">
                                <p class="text-muted mb-0">Affichage de <b>{{
                                        paginatedFactureList.length }}</b> sur
                                    <b>{{
                                        filteredFactureList.length }}</b>
                                    factures</p>
                            </div>
                            <div class="col-auto">
                                <ul
                                    class="pagination pagination-rounded justify-content-end mb-2">
                                    <pagination
                                        [totalItems]="filteredFactureList.length"
                                        [itemsPerPage]="itemsPerPage"
                                        (pageChanged)="pageChanged($event)"></pagination>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ✅ Modal Ajout / Modification Facture -->
    <ng-template #factureModal>
        <div class="modal-header">
            <h5 class="modal-title">{{ factureForm.value.factureId ?
                'Modifier une Facture' : 'Ajouter une Facture' }}</h5>
            <button type="button" class="btn-close"
                (click)="modalRef?.hide()"></button>
        </div>
        <form (ngSubmit)="saveFacture()" [formGroup]="factureForm">
            <div class="modal-body">
                <!-- Référence Facture -->
                <div class="mb-3">
                    <label class="form-label">Référence Facture</label>
                    <input type="text" class="form-control"
                        formControlName="refFacture"
                        placeholder="Référence Facture">
                    <div
                        *ngIf="factureForm.controls['refFacture'].invalid && factureForm.controls['refFacture'].touched"
                        class="text-danger">
                        <span
                            *ngIf="factureForm.controls['refFacture'].errors?.['required']">La
                            référence est requise.</span>
                        <span
                            *ngIf="factureForm.controls['refFacture'].errors?.['minlength']">La
                            référence doit contenir au moins 3
                            caractères.</span>
                    </div>
                </div>

                <!-- Désignation -->
                <div class="mb-3">
                    <label class="form-label">Désignation</label>
                    <input type="text" class="form-control"
                        formControlName="designation" placeholder="Désignation">
                    <div
                        *ngIf="factureForm.controls['designation'].invalid && factureForm.controls['designation'].touched"
                        class="text-danger">
                        La désignation est requise.
                    </div>
                </div>

                <!-- Montant TTC -->
                <div class="mb-3">
                    <label class="form-label">Montant TTC</label>
                    <input type="number" class="form-control"
                        formControlName="montantTtc" placeholder="Montant">
                    <div
                        *ngIf="factureForm.controls['montantTtc'].invalid && factureForm.controls['montantTtc'].touched"
                        class="text-danger">
                        Le montant est requis.
                    </div>
                </div>

                <!-- Date Emission -->
                <div class="mb-3">
                    <label class="form-label">Date d'Émission</label>
                    <input type="date" class="form-control"
                        formControlName="dateEmmission">
                    <div
                        *ngIf="factureForm.controls['dateEmmission'].invalid && factureForm.controls['dateEmmission'].touched"
                        class="text-danger">
                        <span
                            *ngIf="factureForm.controls['dateEmmission'].errors?.['required']">La
                            date est requise.</span>
                        <span
                            *ngIf="factureForm.controls['dateEmmission'].errors?.['invalidDate']">La
                            date doit être ≤ aujourd’hui.</span>
                    </div>
                </div>

                <!-- Type Facture -->
                <div class="mb-3">
                    <label class="form-label">Type Facture</label>
                    <select class="form-control" formControlName="typeFacture">

                        <option *ngFor="let type of typeFactureOptions"
                            [value]="type">
                            {{ type }}
                        </option>
                    </select>
                </div>

                <!-- Type Paiement -->
                <div class="mb-3">
                    <label class="form-label">Type Paiement</label>
                    <select class="form-control" formControlName="typePaiement">
                        <option *ngFor="let type of filteredTypePaiementOptions"
                            [value]="type">
                            {{ type }}
                        </option>
                    </select>
                </div>

                <input type="file" class="form-control"
                    (change)="onFileSelected($event)">
                <div *ngIf="!selectedFile && submitted" class="text-danger">
                    Le fichier est requis.
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light"
                    (click)="modalRef?.hide()">Annuler</button>
                <button type="submit" class="btn btn-success"
                    [disabled]="factureForm.invalid">
                    {{ factureForm.value.factureId ? 'Mettre à Jour' : 'Ajouter'
                    }}
                </button>
            </div>
        </form>
    </ng-template>

    <!-- ✅ Modal Détails Facture -->
    <ng-template #detailsFactureModal>
        <div class="modal-header">
            <h5 class="modal-title"><i class="bi bi-file-text text-primary"></i>
                Détails de la Facture</h5>
            <button type="button" class="btn-close"
                (click)="modalRef?.hide()"></button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row"><i
                                    class="bi bi-hash text-secondary"></i>
                                Référence :</th>
                            <td>{{ selectedFacture?.refFacture }}</td>
                        </tr>
                        <tr>
                            <th scope="row"><i
                                    class="bi bi-card-text text-dark"></i>
                                Désignation :</th>
                            <td>{{ selectedFacture?.designation }}</td>
                        </tr>
                        <tr>
                            <th scope="row"><i
                                    class="bi bi-currency-euro text-success"></i>
                                Montant TTC :</th>
                            <td>{{ selectedFacture?.montantTtc | currency:'EUR'
                                }}</td>
                        </tr>
                        <tr>
                            <th scope="row"><i
                                    class="bi bi-calendar-event text-warning"></i>
                                Date d'émission :</th>
                            <td>{{ selectedFacture?.dateEmmission |
                                date:'dd MMMM yyyy' }}</td>
                        </tr>

                        <tr>
                            <th scope="row"><i
                                    class="bi bi-receipt text-info"></i> Type de
                                Facture :</th>
                            <td>
                                <span class="badge"
                                    [ngClass]="{
                                      'badge-soft-primary': selectedFacture?.typeFacture === 'ACHAT',
                                      'badge-soft-secondary': selectedFacture?.typeFacture === 'SOUSTRAITANT'
                                    }">
                                    {{ selectedFacture?.typeFacture }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><i
                                    class="bi bi-credit-card text-danger"></i>
                                Type de Paiement :</th>
                            <td>
                                <span class="badge"
                                    [ngClass]="{
                                      'badge-soft-warning': selectedFacture?.typePaiement === 'ESPECES',
                                      'badge-soft-info': selectedFacture?.typePaiement === 'VIREMENT_BANCAIRE',
                                      'badge-soft-dark': selectedFacture?.typePaiement === 'CHEQUE'
                                    }">
                                    {{ selectedFacture?.typePaiement }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><i
                                    class="bi bi-check-circle text-success"></i>
                                Statut Paiement :</th>
                            <td>
                                <span class="badge"
                                    [ngClass]="{
                                      'badge-soft-success': selectedFacture?.statutPaiement === 'PAYÉE',
                                      'badge-soft-danger': selectedFacture?.statutPaiement === 'NON_PAYÉE'
                                    }">
                                    {{ selectedFacture?.statutPaiement }}
                                </span>
                            </td>
                        </tr>
                        <tr *ngIf="selectedFacture?.filePath">
                            <th scope="row"><i
                                    class="bi bi-file-earmark-pdf text-primary"></i>
                                Facture PDF :</th>
                            <td>
                                <a
                                    [href]="'http://localhost:8089/spring/factures/files/' + getFileName(selectedFacture.filePath)"
                                    target="_blank">
                                    📄 Voir la facture
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light"
                (click)="modalRef?.hide()">Fermer</button>
        </div>
    </ng-template>

</div>
